Repository openhab/openhabian, pull requests merged in 2020-10, with the labels that each got.

#1121 Add inital offline install capabilities
  .github/workflows/build-action.yml
  .github/workflows/shellcheck-action.yml
  build-image/first-boot.bash
  build-image/openhabian.conf
  build-image/openhabian.pi-raspios32.conf
  build-image/openhabian.pi-raspios64beta.conf
  build.bash
  docs/exim.md
  functions/backup.bash
  functions/helpers.bash
  functions/java-jre.bash
  functions/nodejs-apps.bash
  functions/openhab.bash
  functions/openhabian.bash
  functions/packages.bash
  functions/system.bash
  includes/15firemotd
  includes/firemotd.service
  includes/offline-install-modifications.bash
  openhabian-setup.sh
  openhabian.conf.dist
Labels: CI-Pipeline, base system, enhancement

#1181 [OH3] Update 'functions/*.bash' for openHAB 3 packages
  CONTRIBUTING.md
  build-image/first-boot.bash
  build-image/openhabian.conf
  build-image/openhabian.pi-raspios32.conf
  functions/backup.bash
  functions/ext-storage.bash
  functions/influxdb+grafana.bash
  functions/java-jre.bash
  functions/menu.bash
  functions/nodejs-apps.bats
  functions/openhab.bash
  functions/packages.bash
  functions/passwords.bash
  functions/zram.bash
  includes/bash.bashrc
  includes/offline-install-modifications.bash
  includes/srv_readme.txt
  openhabian-setup.sh
  openhabian.conf.dist
Labels: openHAB related

#1187 [OH3] Migrate to either OH3 or OH2 incl. existing files on disk
  NEWS.md
  README.md
  build.bash
  docs/NEWSLOG.md
  docs/openhabian.md
  functions/backup.bash
  functions/menu.bash
  functions/openhab.bash
  functions/openhabian.bash
  openhabian-setup.sh
Labels: analysis required, openHAB related
